.root {
  background-color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: white; 
}

.link:hover {
  color: #228be6;
}

.linkActive {
  color: #228be6;
}